/* * petfriendly */
.main-petfriendly .contenedor-petfriendly_{
    height: 40rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

    
    .p1-petfriendly {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 60vw;
        font-size: 20px;
    }
}