$marron: #6a5340;
$marronoscuro: rgba(143, 106, 36, 0.534);
$colorprincipal: #F39C12;
$mostaza: #CA8923;
$blanco: white;
$gris: rgb(243, 243, 243);
$griss: rgba(255, 255, 255, 0.658);
$beige: #AF611A;
$colorhover: rgb(192, 154, 49);
$colorform:  rgb(177, 137, 63);